<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>Lemar Theme - Responsive landing page with 12 different color skins</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Skin (you can set a different color skin here - just change the name of the color)
  ================================================== -->
<link rel="stylesheet" href="stylesheets/skins/blue.css">

<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/styleresponsive.css">
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Favicons
	================================================== -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
<!-- Navigation
	================================================== -->
<div id="wrapnav">
	<div class="container">
		<div class="three columns alpha">
			<div id="top" style="display:inline;">
				<span class="logo"><a href="index.html">Lemar</a></span>
				<br/><span class="subheader">Effective Marketing</span>
			</div>
		</div>
		<div class="thirteen columns omega">
			<div class="menu">
				<nav>
				<ul class="menuitems">
					<li><a href="#features">Product Features</a></li>
					<li><a href="#guarantee">Our Guarantee</a></li>
					<li><a href="#download">Instant Download</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
				</nav>
			</div>
			<div class="rightnav">
				<span class="rightnavtext">Got any Questions?</span>
				<br/>Call now: 0800-834-7763
			</div>
		</div>
	</div>
</div>
<!-- Header
	================================================== -->
<div class="header">
	<div class="container">
		<div class="nine columns alpha">
			<div class="rslides_container">
				<ul class="rslides" id="slider2">
					<li><a href="#"><img src="images/slide1.jpg" alt="" class="slidepic"></a></li>
					<li><a href="#"><img src="images/slide2.jpg" alt="" class="slidepic"></a></li>
					<li><a href="#"><img src="images/slide3.jpg" alt="" class="slidepic"></a></li>
				</ul>
			</div>
		</div>
		<div class="seven columns omega">
			<div class="slidertext">
				<h1>Lemar Released</h1>
				<h2>Effective landing page for digital sales</h2>
				<p><ul>
					 <li><img src="images/star.png" class="middlealign"> create a special landing page outside of your main site</li>
					 <li><img src="images/star.png" class="middlealign"> focus all the important information in one single page</li>
					 <li><img src="images/star.png" class="middlealign"> provide communication via contact form and newsletter</li>
				     <li><img src="images/star.png" class="middlealign"> never dismiss the importance of call to action button</li>
				   
				   </ul>
				</p>
				
				<a href="#download" class="button headerbutton">Try our Product</a>
			</div>
		</div>
	</div>
</div>
<div class="afterheader">
</div>
<!-- Features Section
================================================== -->
<div class="scrollpause">
</div>
<div class="container" id="features">
	<div class="sixteen columns neg">
		<div class="titleborder">
			<span class="title colorme">Product Features</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="one-third column">
		<h3><img src="images/icon1.png" alt="" class="middlealign"> Responsive layout</h3>
		<p>
			Simplicity and contrast are both to be found in Lemar theme. This theme will increase your sales and conversions because of its "quick and to the point" approach. It simply calls for action. Purchase it if you find it suitable and I will offer you my best support!
		</p>
	</div>
	<div class="one-third column">
		<h3><img src="images/icon2.png" alt="" class="middlealign"> More skin colors</h3>
		<p>
			Simplicity and contrast are both to be found in Lemar theme. This theme will increase your sales and conversions because of its "quick and to the point" approach. It simply calls for action! Purchase it if you find it suitable and I will offer you my best support!
		</p>
	</div>
	<div class="one-third column">	
		<h3><img src="images/icon3.png" alt="" class="middlealign"> Newsletter & contact</h3>
		<p>
			Simplicity and contrast are both to be found in Lemar theme. This theme will increase your sales and conversions because of its "quick and to the point" approach. It simply calls for action! Purchase it if you find it suitable and I will offer you my best support!
		</p>	
	</div>
	<div class="one-third column">	
		<h3><img src="images/icon4.png" alt="" class="middlealign"> Page peel ad</h3>
		<p>
			Simplicity and contrast are both to be found in Lemar theme. This theme will increase your sales and conversions because of its "quick and to the point" approach. It simply calls for action! Purchase it if you find it suitable and I will offer you my best support!
		</p>
	</div>
	<div class="one-third column">
		<h3><img src="images/icon5.png" alt="" class="middlealign">  Contrast & simplicity</h3>
		<p>
			Simplicity and contrast are both to be found in Lemar theme. This theme will increase your sales and conversions because of its "quick and to the point" approach. It simply calls for action! Purchase it if you find it suitable and I will offer you my best support!
		</p>
	</div>
	<div class="one-third column">
		<h3><img src="images/icon6.png" alt="" class="middlealign">  Effective marketing</h3>
		<p>
			Simplicity and contrast are both to be found in Lemar theme. This theme will increase your sales and conversions because of its "quick and to the point" approach. It simply calls for action! Purchase it if you find it suitable and I will offer you my best support!
		</p>
	</div>
</div>
<!-- Guarantee Section
================================================== -->
<div class="scrollpause">
</div>
<div class="container" id="guarantee">
	<div class="sixteen columns">
		<div class="titleborder">
			<span class="title colorme">Our Guarantee</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="one-third column separatorv">	  
		<h3><img src="images/iconq.png" alt="" class="middlealign"> Client Support</h3>
		<p class="paddright">
			 If you experience a problem with your new Lemar product or find you are not getting the results you expected, contact our Client Support Team at 1-825-NVST-5478, Monday to Friday, 8:00 to 15:00, or email us at lemar@web.com.
		<p>
		<p class="paddright">
			 Allow us up to 48 hours to run a test and we will provide a solution in a timely manner
		</p>	
	</div>
	<div class="two-thirds column omega">
		<h3>Satisfaction Guarantee</h3>
		<p>
			 Lemar's goal is that you are completely satisfied with your purchase of of our software products. If for any reason you aren't satisfied we will be at your service, please let us know by:
		</p>
		<ul class="square">
			<li>Calling Lemar Improvement Products at 1-2398-235-2D4G</li>
			<li>Emailing a request to LemarApplication@web.com</li>
		</ul>
		<p>
			Upon receiving your request, our client service team will act promptly to achieve your satisfaction. <p>Your satisfaction is important to Lemar!</p>
		</p>
	</div>
</div>
	<!-- Testimonials
================================================== -->
<div class="container">
	<div class="one-third column">
		<h5>Great product</h5>
		<p class="testimonial">
			<img src="images/usr.jpg" class="leftpic" alt=""> The services were great and the product was great.  I am so satisfied with your new software, I will definitely come back for updates. Thank you!
		<span class="author">- Mark, Beverly Hills, owner of L.J.-</span>
		</p>
		
	</div>
	<div class="one-third column">
		<h5>Wise investment</h5>
		<p class="testimonial">
			<img src="images/usr.jpg" class="leftpic" alt=""> I didn't have much hope first but now I must say it's the bext investment so far. I am also very  satisfied with their support service, five stars from me!
		<span class="author">- Jean, Paris, manager at CK-</span>
		</p>
	</div>
	<div class="one-third column">
		<h5>Best support ever</h5>
		<p class="testimonial">
			<img src="images/usr.jpg" class="leftpic" alt=""> I am not very skilled when it comes to this stuff, but their team helped me with all the setup and configuration. I wish all companies were like this.
		<span class="author">- Donna, Manhattan, social worker-</span>
		</p>
	</div>
	
</div>
<!-- Download Section
================================================== -->
<div class="scrollpause">
</div>
<div class="container" id="download">
	<div class="sixteen columns">
		<div class="titleborder">
			<span class="title colorme">Instand Download</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="sixteen columns">
		<h3 class="center">What you get and download instructions</h3>
		<p>
			 "Purchase Now", "Free Trial" or "Instant Download" spotlight. Perhaps some text here, instructions for PayPal payments, client support, price and anything there is to know before the download. Easy as 1 2 3. Vestibulum mattis posuere magna, vitae aliquam urna congue et. Nulla interdum mollis orci, eu interdum sapien blandit quis. Suspendisse sit amet turpis quis sapien vestibulum laoreet in sed odio. Nulla facilisi.
		</div>
		<div class="twelve columns offset-by-two">
			<div class="spotlight">
			    <img src="images/price.png" class="pricebadge" alt="">
				<div class="download">
					 PURCHASE AREA
				</div>
				<div class="steps">
					<img src="images/1.png" alt="" class="middlealign"><span class="rightpad">Click the button</span>
					<img src="images/2.png" alt="" class="middlealign"><span class="rightpad">Pay safely with PayPal</span>
					<img src="images/3.png" alt="" class="middlealign"><span class="mobilerightpad">Get Instant Download</span>
				</div>
				<div class="beforepurchase">
				</div>
				<p class="center">
					<a href="#" class="actionbutton">
					Purchase Now </a>
				</p>
			</div>
		</div>
	</div>
	<!-- Contact Section
================================================== -->
	<div class="scrollpause">
	</div>
	<div class="container" id="contact">
		<div class="sixteen columns">
			<div class="titleborder">
				<span class="title colorme">Contact Us</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="one-third column">
			<p>
				<strong>Address</strong><br>
				 123 Huawsal, Inc., Suite # <br>
				 City, State 90210, Country <br>
				<br>
				<strong>Phone</strong><br>
				 Phone: (163) 427-1530<br>
				 Fax: (463) 442-5269<br>
				 Toll Free: (800) 457-2926 <br>
				<br>
				<strong>Working Hours</strong><br>
				 Mon-Thu: 09.00 - 18.00<br/>
				Fri: 09.00 - 15.00<br/>
			</p>
			<a href="#yourfblinkhere">
			<div class="facebook">
			</div>
			</a>
			<a href="#yourtwitterlinkhere">
			<div class="twitter">
			</div>
			</a>
		</div>
		<div class="two-thirds column">
			<div class="block">
				<form method="post" action="process.php" id="contactform">
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">x</button>
							<strong>Message sent successfully!</strong><br/>
						</div>
					</div>
					<label>
					<span>Full name</span>
					<input type="text" class="input_text" name="name" id="name" placeholder="Your Name"/>
					</label>
					<label>
					<span>Email address</span>
					<input type="text" class="input_text" name="email" id="email" placeholder="Your valid e-mail address"/>
					</label>
					<label>
					<span>Message</span>
					<textarea class="message" name="comment" id="comment" placeholder="Feedback, questions, comments"></textarea>
					</label>
					<input type="submit" id="submit1" class="contactbutton" value="Submit"/>
					<div class="loading">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footerwrap">
		<div class="footer">
			<p class="back-top floatright">
				<a href="#top"><span></span></a>
			</p>
			<div class="container negdown">
				<div class="sixteen columns negdown">
					<div class="four columns alpha">
						<div class="footertext">
							<h1>Newsletter</h1>
							 Stay notified! Enter your e-mail address to subscribe to our latest news.
							<div class="newsletter">
								<div class="newsletterdone">
									<button type="button" class="close" data-dismiss="alert">x</button>
									<div class="newsletteralert">
										<b>You have been subscribed!</b>
									</div>
									<br/>
								</div>
								<form action="newsletter.php" method="post" id="newsletter" class="form-wrapper cf">
									<input type="text" name="newsemail" id="newsemail" placeholder="Enter your e-mail address" autocomplete="off">
									<button type="submit" id="submit2" name="submit2" class="remove-bottom">Go</button>
								</form>
							</div>
						</div>
					</div>
				<div class="four columns">
						<div class="footertext floatright">
							<h1>Client's area</h1>
							 <a href="http://themeforest.net/item/lemar/full_screen_preview/3076985">Buy this theme</a><br/><a href="#">Live support</a><br/><a href="#">Client's area</a><br/><a href="#">Terms of use</a>
						</div>
					</div>
					<div class="four columns">
						<div class="footertext floatright">
							<h1>Connect</h1>
							 <a href="#">Github projects</a><br/><a href="#">Lemar forum</a><br/><a href="#">Our useful blog</a><br/><a href="#">Privacy policy</a>
						</div>
					</div>
					<div class="four columns omega">
						<div class="footertext floatright">
							<h1>Get involved</h1>
							 <a href="#">Report a bug</a><br/><a href="#">Send feedback</a><br/><a href="#">Test beta version</a><br/><a href="#">Contact us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="gototopmobile">
			<a href="#top">Go to Top</a>
		</div>
		 Copyright &copy; 2012 Your Company Name or Product
	</div>
	<!-- Scripts
================================================== -->
	<script src="js/jquery.min.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="peel/peel.js"></script>
	<script src="js/alert.js"></script>
	<script src="js/responsivemenu.js"></script>
	<script src="js/formsvalidation.js"></script>
	<!-- End Document
================================================== -->
</body>
</html>