# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating PageCarton core will not override your custom .gitignore file.

# Ignore core when managing all of a project's dependencies with Composer
# including PageCarton core.
# core

# Core's dependencies are managed with Composer.

# Ignore IDE and GIT specifics

.git/*
.*

# Ignore configuration files that may contain sensitive information.

htdocs/*
www/*
public_html/*
public_html
www
htdocs

# Ignore paths that contain user-generated content.
pagecarton/sites/*

# cache
pagecarton/temp/*

# cache
pagecarton/backups/*
pagecarton/*.tmp
pagecarton/*.gz
pagecarton/*.zip
pagecarton/*.backup
pagecarton/*.malformed.xml

#   databases
pagecarton/core/application/databases/Application/Log/View/*
pagecarton/core/application/databases/PageCarton/Cron/Run/*
pagecarton/core/application/databases/Ayoola/Access/localuser.xml
pagecarton/core/application/databases/PageCarton/MultiSite/*
pagecarton/core/application/databases/PageCarton/MultiSite/table.xml
pagecarton/core/application/databases/PageCarton/MultiSite/*

# When developing locally, do not include the automatically created site folders
pagecarton/sites
pagecarton/temp
pagecarton/core/application/sub_domain/*

#exclude pagecarton.json to make it safe for collaboration
pagecarton/core/local_html/pagecarton.json
pagecarton/core/application/databases/Application/settings.xml
pagecarton/core/application/databases/Application/notification.xml
pagecarton/core/application/databases/Ayoola/Object/__/pagewidget/
pagecarton/core/application/databases/Ayoola/Object/pagewidget.xml

# page and template data backups
pagecarton/core/application/pages/data-backup/*
pagecarton/core/application/documents/layout/*/theme/*/data-backup/
pagecarton/core/application/documents/layout/*/theme/data-backup/*
