/*
* Lemar Theme - Blue Skin
*/
.menu, .menu a , .menu a:visited, .menu a:focus { color: #F80104; }
.slidepic { border: 2px solid #ccc !important;}
.header { background: #F80104 url(../../images/transp.png) repeat; }
.copyright, .copyright a { background: #F80104 url(../../images/transp.png) repeat;}
.spotlight { background: #F80104 url(../../images/transp.png) repeat; }
.colorme { color: #F80104; }
a.actionbutton { color: #666 !important; text-shadow:0 1px 1px #fff; background-color: #ddd; background-image: -moz-linear-gradient(center top,#F1F1F1,#ddd); background-image: -webkit-linear-gradient(top,#F1F1F1,#ddd); background-image: -moz-linear-gradient(top,#F1F1F1,#ddd); background-image: -ms-linear-gradient(top,#F1F1F1,#ddd); background-image: -o-linear-gradient(top,#F1F1F1,#ddd); background-image: linear-gradient(top,#F1F1F1,#ddd); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1',EndColorStr='#ddd'); background-repeat: no-repeat; }
a.actionbutton:hover { background: #fff; }
.centered-btns_tabs a,.transparent-btns_tabs a,.large-btns_tabs a { background: #fff !important; }
.centered-btns_here a,.transparent-btns_here a,.large-btns_here a { background: #ddd !important; }