<?xml version="1.0" encoding="utf-8"?>
<DOCUMENT_ELEMENT table_name="settings" creation_time="1506987142" table_version="0.0.5" module_version="1.00" table_class="Application_Settings" creation_ip="2130706433">
  <RECORDS autoId="3">
    <TABLE_ROW ROW_ID="1">
      <TABLE_FIELD FIELD_KEY="settingsname_name"><![CDATA[Page]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="class_name"><![CDATA[Ayoola_Page_Settings]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="settingsname_id"><![CDATA[6]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="settings_id"><![CDATA[0-0-1]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="settings"><![CDATA[a:1:{s:14:&quot;default_layout&quot;;s:14:&quot;bootstrapbasic&quot;;}]]></TABLE_FIELD>
    </TABLE_ROW>
    <TABLE_ROW ROW_ID="2">
      <TABLE_FIELD FIELD_KEY="settingsname_name"><![CDATA[SiteInfo]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="settingsname_id"><![CDATA[1078]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="class_name"><![CDATA[Application_Settings_SiteInfo]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="settings"><![CDATA[]]></TABLE_FIELD>
      <TABLE_FIELD FIELD_KEY="settings_id"><![CDATA[0-0-2]]></TABLE_FIELD>
    </TABLE_ROW>
  </RECORDS>
  <TABLE_SETTINGS>
    <DATA_TYPES settings="INPUTTEXT" settingsname_name="INPUTTEXT" class_name="INPUTTEXT" settingsname_id="INT, UNIQUE" settings_id="INPUTTEXT"/>
    <FOREIGN_KEYS/>
    <RELATIVES/>
  </TABLE_SETTINGS>
</DOCUMENT_ELEMENT>
