<?xml version="1.0" encoding="utf-8"?>
<DOCUMENT_ELEMENT table_name="settings" creation_time="1563905853" modified_time="1563905853" table_version="0.0.7" module_version="1.00" table_class="Application_Settings" creation_ip="0">
  <RECORDS autoId="2"></RECORDS>
  <TABLE_SETTINGS>
    <DATA_TYPES data="JSON" settings="INPUTTEXT" settingsname_name="INPUTTEXT" class_name="INPUTTEXT" settingsname_id="INT, UNIQUE" settings_id="INPUTTEXT" creation_time="INPUTTEXT" modified_time="INPUTTEXT"/>
    <FOREIGN_KEYS/>
    <RELATIVES/>
  </TABLE_SETTINGS>
</DOCUMENT_ELEMENT>
