<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="PageCarton" patternSyntax="Wildcard">
	  <match url="*" />
	    <conditions>
	      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	    </conditions> 
	    <action type="Rewrite" url="index.php" />
	</rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.webServer>
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true"/>
  </system.web>
</configuration>