<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700%7CPlayfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body data-pc-section-name="body">
  
  <div class="site-wrap" data-pc-section-autonamed="1" data-pc-section-name="pc-body-1">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>






    
    <section data-pc-section-placeholder="pc_body_3"><!-- DO NOT REMOVE THIS SECTION --></section>

    
    
    <widget parameters='{ "class": "Ayoola_Page_Info", "use_site_defaults": true }'>
        <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url(/layout/pc_layout_miniblog/images/img_4.jpg?embed_image_url={{{cover_photo}}});">
            <div class="container">
                <div class="row same-height justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="post-entry text-center">
    
                            <h1 class="">{{{title}}}</h1>
                            <p class="lead mb-4 text-white">{{{description}}} {{{link_to_edit}}}</p>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </widget>    
    
    <div class="site-section bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6 order-md-2">
              <img src="/layout/pc_layout_miniblog/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 mr-auto order-md-1">
              <h2>About {Organization Name}</h2>
              <p>{Background History Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea consequat.}</p>
              <ul class="ul-check list-unstyled success">
                  <widget parameters='{ "class": "Application_Article_ShowAll", "add_a_new_post": 3, "article_types": "feature" }'>
                      <li>{{{article_title}}}</li>
                  </widget>
              </ul>
            </div>
          </div>
        </div>
      </div>






  
  
      <div class="site-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
              <h2>Meet {Organization Name} Team</h2>
              <p>{More About Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem in, quibusdam cumque recusandae, laudantium minima repellendus.}</p>
            </div>
          </div>
          <div class="row">
            <widget parameters='{ "class": "Application_Profile_All", "add_a_new_post": 3, "length_of_description": 150 }'>
            <repeat>
            <div class="col-md-6 col-lg-4 mb-5 text-center">
              <img src="/layout/pc_layout_miniblog/images/person_1.jpg?embed_image_url={{{document_url_uri}}}" alt="Image" class="img-fluid w-50 rounded-circle mb-4"><h2 class="mb-3 h5">{{{article_title}}}</h2>
              <p>{{{article_description}}}</p>
              <p class="mt-5">
                <a href="{{{facebook_url}}}" class="p-3"><span class="icon-facebook">&nbsp;</span></a>
                <a href="{{{instagram_url}}}" class="p-3"><span class="icon-instagram">&nbsp;</span></a>
                <a href="{{{twitter_url}}}" class="p-3"><span class="icon-twitter">&nbsp;</span></a>
              </p>
            </div>
            </repeat>
            </widget>
          </div>
        </div>
      </div>






    
        
      <div class="site-section bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/layout/pc_layout_miniblog/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto">
              <h2>More About {Organization Name}</h2>
              <p class="mb-4">{Short About Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam, nemo exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus quos sequi hic fugiat asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.}
    
             </p>
              
              <ul class="ul-check list-unstyled success">
                <widget parameters='{ "class": "Application_Article_ShowAll", "add_a_new_post": 3, "article_types": "feature", "list_page_number_offset": 1 }'>
                    <li>{{{article_title}}}</li>
                </widget>
            </ul>
            </div>
          </div>
        </div>
      </div>





    


    
    <section data-pc-section-placeholder="pc_body_8"><!-- DO NOT REMOVE THIS SECTION --></section>

    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

 
  </body>
</html>
