<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700%7CPlayfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body data-pc-section-name="body">
  
  <div class="site-wrap" data-pc-section-autonamed="1" data-pc-section-name="pc-body-1">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>






    
    <section data-pc-section-placeholder="pc_body_3"><!-- DO NOT REMOVE THIS SECTION --></section>

    
    <div class="site-section bg-light">
        <div class="container">
          <div class="row align-items-stretch retro-layout-2">
    <!-- How to embed Application_Article_ShowAll -->
    <widget>
        <script type="application/json">
        {"parameter_suffix":"[0]","add_a_new_post[0]":"5","trending":"50","class":"Application_Article_ShowAll"}
        </script>
    
    
            <div class="col-md-4">
              <!--{{{0}}}
              <a href="{{{post_link}}}{{{0}}}" class="h-entry mb-30 v-height gradient" style="background-image: url({{{document_url_uri}}}{{{0}}}?crop_to_fit_url=/layout/pc_layout_miniblog/images/img_1.jpg );">
                
                <div class="text">
                  <h2>{{{article_title}}}{{{0}}}</h2>
                  <span class="date">{{{article_date_M}}}{{{0}}} {{{article_date_d}}}{{{0}}}, {{{article_date_Y}}}{{{0}}}</span>
                </div>
              </a>
              {{{0}}}-->
              <!--{{{1}}}
              <a href="{{{post_link}}}{{{1}}}" class="h-entry v-height gradient" style="background-image: url({{{document_url_uri}}}{{{1}}}?crop_to_fit_url=/layout/pc_layout_miniblog/images/img_2.jpg);">
                
                <div class="text">
                  <h2>{{{article_title}}}{{{1}}}</h2>
                  <span class="date">{{{article_date_M}}}{{{1}}} {{{article_date_d}}}{{{1}}}, {{{article_date_Y}}}{{{1}}}</span>
                </div>
              </a>
              {{{1}}}-->
            </div>
            <div class="col-md-4">
              <!--{{{2}}}
              <a href="{{{post_link}}}{{{2}}}" class="h-entry img-5 h-100 gradient" style="background-image: url({{{document_url_uri}}}{{{2}}}?crop_to_fit_url=/layout/pc_layout_miniblog/images/img_v_1.jpg);">
                
                <div class="text">
                  <div class="post-categories mb-3">
                    <data-category_name>
                        <category_name-repeat>
                            <span class="post-category text-white bg-danger">
                                {{{category_name}}}
                            </span>
                        </category_name-repeat>
                    </data-category_name>
                  </div>
                  <h2>{{{article_title}}}{{{2}}}</h2>
                  <span class="date">{{{article_date_M}}}{{{2}}} {{{article_date_d}}}{{{2}}}, {{{article_date_Y}}}{{{2}}}</span>
                </div>
              </a>
              {{{2}}}-->
            </div>
            <div class="col-md-4">
              <!--{{{3}}}
              <a href="{{{post_link}}}{{{3}}}" class="h-entry mb-30 v-height gradient" style="background-image: url({{{document_url_uri}}}{{{3}}}?crop_to_fit_url=/layout/pc_layout_miniblog/images/img_3.jpg);">
                
                <div class="text">
                  <h2>{{{article_title}}}{{{3}}}</h2>
                  <span class="date">{{{article_date_M}}}{{{3}}} {{{article_date_d}}}{{{3}}} {{{article_date_Y}}}{{{3}}}</span>
                </div>
              </a>
              {{{3}}}-->
              <!--{{{4}}}
              <a href="{{{post_link}}}{{{4}}}" class="h-entry v-height gradient" style="background-image: url({{{document_url_uri}}}{{{4}}}?crop_to_fit_url=/layout/pc_layout_miniblog/images/img_4.jpg);">
                
                <div class="text">
                  <h2>{{{article_title}}}{{{4}}}</h2>
                  <span class="date">{{{article_date_M}}}{{{4}}} {{{article_date_d}}}{{{4}}} {{{article_date_Y}}}{{{4}}}</span>
                </div>
              </a>
              {{{4}}}-->
            </div>
    
    
    </widget>
    <!-- Place this code in code view -->
          </div>
        </div>
      </div>






    

      <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <h2>Recent Posts</h2>
                </div>
            </div>
            <include href="/layout/pc_layout_miniblog/list-post.html">
        </include>
</div>
    </div>







    <div class="site-section bg-light">
        <div class="container">
            <include href="/layout/pc_layout_miniblog/list-similar-post.html">
        </include>
</div>
    </div>





      
    
    <section data-pc-section-placeholder="pc_body_7"><!-- DO NOT REMOVE THIS SECTION --></section>

    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>


  </body>
</html>
