<div class="row align-items-stretch retro-layout">

    <widget parameters='{ "class": "Application_Article_ShowAll", "add_a_new_post": 4, "trending": 500, "post_with_same_true_post_type": true }'>
        <data-0>
            <div class="col-md-5 order-md-2">
                <a href="{{{post_link}}}" class="hentry img-1 h-100 gradient"
                    style="background-image: url(/layout/pc_layout_miniblog/images/img_4.jpg?embed_image_url={{{document_url_uri}}});">
                    <data-category_name>
                        <category_name-repeat>
                            <span class="post-category text-white bg-danger">
                                {{{category_name}}}
                            </span>
                        </category_name-repeat>
                    </data-category_name>
                    <div class="text">
                        <h2>{{{article_title}}}</h2>
                        <span>{{{article_date_M}}} {{{article_date_d}}}, {{{article_date_Y}}}</span>
                    </div>
                </a>
            </div>
        </data-0>

        <div class="col-md-7">
            <data-1>
                <a href="{{{post_link}}}" class="hentry img-2 v-height mb30 gradient"
                    style="background-image: url(/layout/pc_layout_miniblog/images/img_1.jpg?embed_image_url={{{document_url_uri}}});">
                    <data-category_name>
                        <data-category_name>
                            <category_name-repeat>
                                <span class="post-category text-white bg-danger">
                                    {{{category_name}}}
                                </span>
                            </category_name-repeat>
                        </data-category_name>
                        </data-category_name>
                    <div class="text text-sm">
                        <h2>{{{article_title}}}</h2>
                        <span>{{{article_date_M}}} {{{article_date_d}}}, {{{article_date_Y}}}</span>
                    </div>
                </a>
            </data-1>

            <div class="two-col d-block d-md-flex">
                <data-2>
                    <a href="{{{post_link}}}" class="hentry v-height img-2 gradient"
                        style="background-image: url(/layout/pc_layout_miniblog/images/img_2.jpg?embed_image_url={{{document_url_uri}}});">
                        <data-category_name>
                            <category_name-repeat>
                                <span class="post-category text-white bg-danger">
                                    {{{category_name}}}
                                </span>
                            </category_name-repeat>
                        </data-category_name>
                        <div class="text text-sm">
                            <h2>{{{article_title}}}</h2>
                            <span>{{{article_date_M}}} {{{article_date_d}}}, {{{article_date_Y}}}</span>
                        </div>
                    </a>
                </data-2>
                <data-3>
                    <a href="{{{post_link}}}" class="hentry v-height img-2 ml-auto gradient"
                        style="background-image: url(/layout/pc_layout_miniblog/images/img_3.jpg?embed_image_url={{{document_url_uri}}});">
                        <data-category_name>
                            <category_name-repeat>
                                <span class="post-category text-white bg-danger">
                                    {{{category_name}}}
                                </span>
                            </category_name-repeat>
                        </data-category_name>
                        <div class="text text-sm">
                            <h2>{{{article_title}}}</h2>
                            <span>{{{article_date_M}}} {{{article_date_d}}}, {{{article_date_Y}}}</span>
                         </div>
                    </a>
                </data-3>
            </div>

        </div>
    </widget>
</div>
